  body {
  font-family: arial;
  color: Black;
  background-color: #0498e8;}
  x01{
  font-family: arial, verdana, sans-serif;
  font-size: 40;}
  h1 {
  font-family: arial, verdana, sans-serif;}
  x1{
  font-family: arial;
  white-space: pre}
  x2 {
  font-family: arial;
  white-space: pre;}
  #picture {
  float:left;
  width: 100px;}
  a:link {
  color: #9d0004;
  font-family: arial black}
  a:visited {
  color: 6b6b6b;
  font-family: arial black}
  pre {
  border:1px solid #A2A2A2;
  background-color:#F1F1F1;
  padding:5px;
  margin:5px;
  color:#0150c7;
  overflow:auto;
  width: 600px}
  p {
  width: 800;}