.ebul_mbindex, .ebul_mbindex ul {
  background-color: #8DA314;
  border: 1px solid #646464;
  display: block;
  font-size: 1px;
  margin: 0px;
  overflow: auto;
  padding: 2px;
  position: absolute;
  visibility: hidden;
}

.ebul_mbindex_shadow {
  background-color: #777777;
  display: block;
  margin: 0px;
  overflow: hidden;
  position: absolute;
  visibility: hidden;
}

.ebul_mbindex table {
  border-collapse: separate;
}

.ebul_mbindex tr {
  background-color: #7F9112;
  cursor: pointer;
  font-size: 1px;
}

.ebul_mbindex td {
  border: 1px solid #FFFFFF;
  padding: 3px;
  text-align: left;
}

.ebul_mbindex td a, .ebul_mbindex td a:visited {
  color: #FFFFFF;
  font-family: "Tahoma", serif;
  font-size: 12px;
  font-style: normal;
  font-weight: bold;
  text-decoration: none;
}

.ebul_mbindex tr.hot, .ebul_mbindex tr.expanded {
  background-color: #FFFFFF;
}

.ebul_mbindex tr.hot td, .ebul_mbindex tr.expanded td {
  border-color: #8C8C8C;
}
.ebul_mbindex tr.hot a, .ebul_mbindex tr.expanded a {
  color: #7F9112;
  font-family: "Tahoma", serif;
  font-size: 12px;
  font-style: normal;
  font-weight: bold;
  text-decoration: none;
}

.ebul_mbindex td div.ebul_mbindexseparator {
  border-top: 1px solid #646464;
  height: 0px;
  font-size: 0;
}

.ebul_mbindex td.ebul_mbindexseparatortd {
  cursor: default;
}


ul.ebul_mbindex {
  position: absolute;
  visibility: hidden;
}                               

.mbindexebul_menulist .spaced_li {
  padding: 0px 0px 1px 0px;
}

.mbindexebul_menulist li {
  list-style: none;
  
}

.mbindexebul_menulist img {
  vertical-align: bottom;
  
}

.mbindexebul_menulist {
  margin: 0px;
  padding: 0px;
  line-height: 0px;
}
